@using HaarlemFestival.Models

<script type="text/javascript">

    $(document).ready(function () {

        $("#selectEvent").val("Jazz@Patronaat");

        $('.addDataForm').each(function () {
            $(this).hide();
        })

        $("#JazzForm").show();
    });

    function AddEventFilter()
    {
        var event = $("#selectEvent").val();

        $('.addDataForm').each(function () {
            $(this).hide();
        })

        switch (event) {
            case "Jazz@Patronaat":
                $("#JazzForm").show();
                break;

            case "Restaurant":
                $("#RestaurantForm").show();
                break;

            case "DinnerInHaarlem":
                $("#DinnerForm").show();
                break;

            case "TalkingHaarlem":
                $("#TalkingForm").show();
                break;

            case "Guide":
                $("#GuideForm").show();
                break;

            case "HistoricHaarlem":
                $("#HistoricForm").show();
                break;
        }
    }

</script>

@Html.Label("Select an event:")
<select id="selectEvent" name="selectEvent" onchange="AddEventFilter()">
    <option value="Jazz@Patronaat">Jazz@Patronaat</option>
    <option value="Restaurant">Restaurant</option>
    <option value="DinnerInHaarlem">Dinner in Haarlem</option>
    <option value="TalkingHaarlem">Talking Haarlem</option>
    <option value="Guide">Guide</option>
    <option value="HistoricHaarlem">Historic Haarlem</option>
</select>


<div id="JazzForm" class="addDataForm">
@using (Html.BeginForm("AddJazz", "Admin", FormMethod.Post))
{
    Html.RenderPartial("_JazzPartial", new Jazz() );
}
</div>

<div id="RestaurantForm" class="addDataForm">
@using (Html.BeginForm("AddRestaurant", "Admin", FormMethod.Post))
{
    Html.RenderPartial("_RestaurantPartial", new Restaurant() );
}
</div>
    
<div id="DinnerForm" class="addDataForm">
@using (Html.BeginForm("AddDinner", "Admin", FormMethod.Post))
{
    Html.RenderPartial("_DinnerPartial", new Dinner() );
}
</div>

<div id="TalkingForm" class="addDataForm">
@using (Html.BeginForm("AddTalking", "Admin", FormMethod.Post))
{
    Html.RenderPartial("_TalkingPartial", new Talking() );
}
</div>

<div id="GuideForm" class="addDataForm">
@using (Html.BeginForm("AddGuide", "Admin", FormMethod.Post))
{
    Html.RenderPartial("_GuidePartial", new Guide() );
}
</div>

<div id="HistoricForm" class="addDataForm">

@using (Html.BeginForm("AddHistoric", "Admin", FormMethod.Post))
{
    Html.RenderPartial("_HistoricPartial", new Historic() );
}
</div>




