@using HaarlemFestival.Models

<script type="text/javascript">

    function AddEventFilter()
    {
        var event = $("#selectEvent").val();

        switch (event) {
            case "Jazz@Patronaat":
                $("JazzForm").show();
                $("DinnerForm").hide();
                $("TalkingForm").hide();
                $("HistoricForm").hide();
                break;

            case "DinnerInHaarlem":
                $("JazzForm").hide();
                $("DinnerForm").show();
                $("TalkingForm").hide();
                $("HistoricForm").hide();
                break;

            case "TalkingHaarlem":
                $("JazzForm").hide();
                $("DinnerForm").hide();
                $("TalkingForm").show();
                $("HistoricForm").hide();
                break;

            case "HistoricHaarlem":
                $("JazzForm").hide();
                $("DinnerForm").hide();
                $("TalkingForm").hide();
                $("HistoricForm").show();
                break;
        }
    }

</script>
<select id="selectEvent" name="selectEvent" onchange="AddEventFilter()">
    <option value="Jazz@Patronaat">Jazz@Patronaat</option>
    <option value="DinnerInHaarlem">Dinner in Haarlem</option>
    <option value="TalkingHaarlem">Talking Haarlem</option>
    <option value="HistoricHaarlem">Historic Haarlem</option>
</select>


@{Html.RenderPartial("_JazzPartial", new Jazz());}
@{Html.RenderPartial("_DinnerPartial", new Dinner());}
@{Html.RenderPartial("_TalkingPartial", new Talking());}
@{Html.RenderPartial("_HistoricPartial", new Historic());}

