    <p class="popupTitle">Are you sure you want to delete this event?</p>
    <hr />
    <p class="popupDescription">By clicking yes you will permanently delete this event from the website.</p> <!-- TODO: Verander Description -->
    <br />

    <!-- TODO: Stijl van buttons aanpassen. -->
    <button id="delete" onclick="location.href='@Url.Action("DeleteEvent", "Admin", new { id = Request.Params["eventId"] })'">Yes, I am sure</button>
    <button id="back" onclick="HidePopup()">No, take me back</button> <!-- TODO: URL Veranderen zodat alleen de PartialView sluit. -->

