<section id="deleteConfirm">
    <span>Are you sure you want to delete this event?</span>
    <hr />
    <span id="deleteDescription">By clicking yes you will permanently delete this event from the website.</span> <!-- TODO: Verander Description -->
</section>
