@{
    ViewBag.Title = "AnswerContactmessage";
}

<div class="container">
    <!-- Dropdownlist voor vragen van bepaalde categorieën -->
    <!-- Vraag neerzetten -->
    <!-- Textvak om te antwoorden -->
    <!-- Knoppen om naar de vorige en volgende vraag te gaan-->
</div>