@using HaarlemFestival.Models;
@{
    ViewBag.Title = "AnswerContactmessage";
}
@model AnswerContactViewModel

<div class="container">
    @Html.EnumDropDownListFor(v => v.Category, "Select a Category.")
</div>