@using HaarlemFestival.Models;
@{
    ViewBag.Title = "Interview Questions";
}

@model List<InterviewQuestion>

<div class="event-banner"></div>
<div class="container">
    <script type="text/javascript" src="~/Scripts/FilterTableData.js"></script>

    <section id="topFilterBar" class="col-md-12">
        <div id="selectEvent" class="col-md-3 col-sm-12">
            <b>Select a participant</b>
            <br />
            @Html.DropDownList("Receivers", new SelectList(Model.Select(q => new { Value = q.Receiver, Text = q.Receiver }), "Value", "Text"), "Select a Participant.", new { @id = "participantFilter", @class = "filters", @onchange = "FilterData()" })
        </div>
        <div id="filterSystem" class="col-md-9 col-sm-12">
            <div class="col-md-3">
                <b>Search</b>
                <br />
                <input id="searchData" class="filters" type="text" name="search" placeholder="&#xF002 Search.." onkeyup="FilterData()">
            </div>
        </div>
    </section>

    <table id="questionTable" class="eventTable table table-striped table-responsive">
        <thead>
            <tr>
                <th>Participant</th>
                <th>Question</th>
            </tr>
        </thead>
        <tbody class="data">
            @foreach (InterviewQuestion question in Model)
            {
                <tr>
                    <td>@question.Receiver</td>
                    <td>@question.Content</td>
                </tr>
            }
        </tbody>
    </table>
</div>
