@{
    ViewBag.Title = "Overview";
}
<div class="container body-content overviewPage">
    <div class="row">

        <section id="ManageEvent">

            <!-- HEADER IMAGE -->
            <div class="event-header">
                <div class="overlay">
                    <span class="header_tekst">Jazz@Patronaat information</span>
                </div>
            </div>

            <!-- INTRO TEXT -->
            <span class="introText">
                Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
            </span>

            <!-- MANAGE EVENT -->
            <span id="manageEventSelection">
                <button onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "Jazz@Patronaat" }, null)'">Jazz@Patronaat</button>
                <button onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "DinnerInHaarlem" }, null)'">Dinner In Haalrem</button>
                <button onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "TalkingHaarlem" }, null)'">Talking Haarlem</button>
                <button onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "HistoricHaarlem" }, null)'">Historic Haarlem</button>
            </span>
        </section>

        <section id="TicketSalesInformation">

            <!-- HEADER IMAGE -->
            <div class="event-header">
                <div class="overlay">
                    <span class="header_tekst">Jazz@Patronaat information</span>
                </div>
            </div>

            <!-- INTROTEXT -->
            <span class="introText">
                Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
            </span>

            <!-- BUTTON -->
            <button onclick="#">Download</button>
        </section>
    </div>
</div>