@{
    ViewBag.Title = "Jazz@Patronaat";
}

<div class="event-banner jazz"></div>

<div class="event container jazz">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Jazz@Patronaat</h1>
                <p class="content">
                    Do you like some Jazz music? Then Jazz@Patronaat is the perfect event to go to! With over 18 bands performing in 4 days there must be something for you!
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_1.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_2.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_3.png" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <div class="event-header">
                <div class="overlay">
                    <span class="header_tekst">Jazz@Patronaat information</span>
                </div>
            </div>
        </div>

        <!-- Section 3 -->
        <div class="event-section-3">
            <div class="col-md-3 keuze_blok">
                <img src="/images/Jazz/donderdag_artiest.png" />
                <h2>Thursday</h2>
                <p>
                    Bla
                </p>
            </div>
        </div>

    </div>
</div>
