@{
    ViewBag.Title = "Jazz@Patronaat";
}

<div class="event-banner jazz"></div>

<div class="event container jazz">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Jazz@Patronaat</h1>
                <p class="content">
                    Do you like some Jazz music? Then Jazz@Patronaat is the perfect event to go to! With over 18 bands performing in 4 days there must be something for you!
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_1.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_2.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_3.png" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header">
                <div class="overlay">
                    <span class="header_tekst">Jazz@Patronaat information</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <!-- Section 3 -->
        <div class="event-section-3">
            <!-- Artiest donderdag -->
            <div class="col-md-3 keuze_blok">
                <img src="/images/Jazz/donderdag_artiest.png" />
                <h2>Thursday</h2>
                <p>
                    <b>Date:</b>  Thursday - 26-07-2018<br />
                    <b>Location:</b>  Patronaat<br />
                    <b>Performing:</b>  Gumbo Kings; Evolve; Ntjam Rosie; Wicked Jazz Sounds; Tom Thomsom Assemble; Jonna Frazer.
                </p>
                <p>
                    <a class="btn btn-black" href="#">More information about Thursday</a>
                </p>
            </div>

            <!-- Artiest vrijdag -->
            <div class="col-md-3 keuze_blok">
                <img src="/images/Jazz/vrijdag_artiest.png" />
                <h2>Friday</h2>
                <p>
                    <b>Date:</b>  Friday - 27-07-2018<br />
                    <b>Location:</b>  Patronaat<br />
                    <b>Performing:</b>  Fox & The Mayors; Uncle Sue; Chris Allen; Myles Sanko; Ruis Soundsystem; The Family XL
                </p>
                <p>
                    <a class="btn btn-black" href="#">More information about Friday</a>
                </p>
            </div>

            <!-- Artiest donderdag -->
            <div class="col-md-3 keuze_blok">
                <img src="/images/Jazz/zaterdag_artiest.png" />
                <h2>Saturday</h2>
                <p>
                    <b>Date:</b>  Saturday - 28-07-2018<br />
                    <b>Location:</b>  Patronaat<br />
                    <b>Preforming:</b>  Gare du Nord; Rilan & The Bombadiers; Soul Six; Han Bennink; The Nordanians; Lilith Merlot
                </p>
                <p>
                    <a class="btn btn-black" href="#">More information about Saturday</a>
                </p>
            </div>

            <!-- Artiest donderdag -->
            <div class="col-md-3 keuze_blok">
                <img src="/images/Jazz/zondag_artiest.png" />
                <h2>Sunday</h2>
                <p>
                    <b>Date:</b>  Sunday - 29-07-2018<br />
                    <b>Location:</b>  Grote Markt<br />
                    <b>Preforming:</b>  Ruis Soundsystem; Wicked Jazz Sounds; Evolve; The Nordanians; Gumbo Kings; Gare Nord
                </p>
                <p>
                    <a class="btn btn-black" href="#">More information about Sunday</a>
                </p>
            </div>
        </div><!-- // Event section 3-->

    </div>
</div>
