/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #C1B4AE;
}

/* Buttons */
.btn:focus {
    color: #fff;
}
.btn-black {
    background: #353237;
    color: #fff;
    border-radius: 0px;
    transition: 300ms;
}

.btn-black:hover {
    color: #fff;
    background: #736e6e;
}

/* NAV BAR */
.navbar {
    background-color: #92140C;
}

.navbar .navbar-nav {
    width: 100%;
}

.navbar .navbar-nav > li {
    width: 14%;
    text-align: center;
}

.navbar .navbar-nav > li > a {
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-shadow: none;
    font-size: 15px;
}

.navbar .navbar-nav > li > a:hover {
    background-color: #BE7C4D;
}

/* FOOTER */
footer {
    margin-top: 20px;
}
footer .container {
    background-color: #fff;
    border: 1px solid #353237;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p.title {
    font-size: 25px
}

footer a {
    color: #353237;
}

footer a:hover {
    color: #666269;
    text-decoration: none;
}

/*****************/
/*** HOMEPAGE ****/
/*****************/

/* BANNER HOMEPAGE */
.banner {
    height: 300px;
    background-size: cover;
}
.banner1 {
    background-image: url('/images/Home/banner1.png');
}
.banner2 {
    background-image: url('/images/Home/banner1.png');
}
.carousel-control {
    background-image: none!important;
    opacity:1;
}
#carousel-home {
    border-bottom: 1px solid #353237;
}

/* SECTION 1 - FEATURE BLOCKS */
.section_home_1 {
    min-height: 350px;
}

.body-content .container {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: -55px;
    position: relative;
}

.section_home_1 .feature-block-image img {
    border: 2px solid #fff;
    margin-top: -30px;
}

.section_home_1 .feature-block-content p.title {
    font-size: 22px;
    font-weight: normal;
    font-family: Arial;
    margin-top: 4px;
    margin-bottom: 0;
}

.section_home_1 .feature-block-content p.button {
    margin-top: 15px
}
.section_home_1 .feature-block-content p.button a {
    background-color: #353238;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px;
    transition: 300ms;
}

.section_home_1 .feature-block-content p.button a:hover {
    background-color: #736e6e;
    color: #fff;
    text-decoration: none;
}

/* SECTION 2 - MAIN CONTENT */
.section_home_2::before {
    border-top:  1px solid #353237;
    padding-left: 10px;
    display:  block;
    content: '';
    width: 1168px;
    margin: 0 auto;
    margin-top: 25px
}

.section_home_2 h1 {
    font-size: 27px;
}

.section_home_2 p{
    font-size: 15px;
}
.maincontent_img {
    width: 100%;
    border: 1px solid;
    margin-top: 15px
}


/*************/
/** CONTACT **/
/*************/


/************/
/** AGENDA **/
/************/


/************/
/** BASKET **/
/************/



/*****************************/
/** EVENT PAGE STANDARD CSS **/
/*****************************/

/* Section 1 */
.event-banner {
    height: 300px;
    background-image: url('/images/regular_banner.png');
}

.event-section-1 {
    min-height: 140px;
}

.event h1.title {
    font-size: 33px;
}

.event p.content {
    font-size: 15px;
    line-height: 22px;
}

.event .sfeer-image {
    height: 150px;
    width: 150px;
    float: left;
    margin-top: -35px;
    margin-left: 24px;
}

.event .sfeer-image:first-child {
    margin-left: 62px;
}

.event .sfeer-image img {
    border: 1px solid #fff;
}

/* Section 2 */
.event-header {
    text-align: center;
    background-image: url('/images/Jazz/jazz_standard_header.png');
    width: 600px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
}

.title-hr {
    position: sticky;
    margin-bottom: auto;
    width: 22%;
    border-top: 1.4px solid #000;
    margin-left: 15px;
    margin-right: 15px;
}

.title-hr.title-line-left {
    margin-top: 35px;
    float: left;
}

.title-hr.title-line-right {
    margin-top: -35px;
    float: right;
}

.event-section-2 {
    margin-bottom: 20px;
    margin-top: 11px;
}

.event-header .header_tekst {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
}

.event-header .overlay {
    background: rgba(0,0,0,0.4);
    height: 100%;
    padding-top: 22px;
}


/*****************************/
/** EVENT PAGE SPECIFIC CSS **/
/*****************************/

/* ------------------------------Jazz@Patronaat--------------------------------*/
.jazz .event-section-3 {
    overflow: hidden;
}

.jazz .event-section-3 .keuze_blok img {
    border: 1px solid #353237;
}

.jazz .event-section-3 .keuze_blok h2 {
     font-size: 23px;
     margin-bottom: 5px;
 }

.jazz .event-section-3 p {
    font-size: 15px;
}

.jazz .event-section-3 p b:first-child {
    padding-left: 46px;
}

.jazz .event-section-3 p b:nth-child(3) {
    padding-left: 17px;
}


/* ------------------------------Dinner in Haarlem-----------------------------*/


/* ------------------------------Talking Haarlem-------------------------------*/

img.sfeer-image-resize { /*Exclusief want andere groepsleden gebruiken images van 150 pixels*/
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}


.talking-place_time {
    width: 200px;
}

.talking-important_info {
    color: red;
    width: 200px;
}

.talks {
    margin: auto;
    width: 1000px;
}

.talk {
    float: left;
    width: 300px;
 }

.talk-header {
    font-size: 16px;
    font-weight: bold;
}

.talk-image {
    width: 300px;
    height: 200px;
}

/* ------------------------------Historic Haarlem------------------------------*/

.event-header.historicLocations {
    background-image: url('/images/Historic/title/locations.png');
}

.event-banner.historic {
    background-image: url('/images/Historic/banner.jpg');
}

.historic-content{
    padding: 15px;
}

#location-content {

}

#map-content {
    /*display: none;*/
}

.toggle{
    margin: 0;
    padding: 0;
    border: 0;
}

div.toggle{
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

button.toggle{
    float: left;
    width: 50%;
    height: 100%;
    display: block;
    transition-duration: 0.6s;
    background-color: #d1d1d1;
}

#location-button{
    background-color: #4CAF50;
}

button.toggle:hover {
    background-color: #92ba93!important;
}

/*****************************/
/** ADMIN PAGE SPECIFIC CSS **/
/*****************************/



/* Login Pagina */
#loginArea {
    width: 100%;
    margin-top: 100px;
}

#loginArea ul {
    list-style-type: none;
}

#loginArea ul li {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#loginArea label {
    font-size: 20px;
    color: white;
    border: 1px solid #92140c;
    border-radius: 20px 0px 0px 20px;
    width: 70px;
    height: 55px;
    background-color: #92140c;
    margin-right: -3px;
    margin-bottom: -22px;
    float: none;
}

.usernameLabel {
    /* TODO: Image Toevoegen */
}

.passwordLabel {
/* TODO: Image Toevoegen */
}

#loginArea ul li .username, #loginArea ul li .password {
    width: 225px;
    height: 55px;
    margin-top: 10px;
    font-size: 15px;
}

#loginArea input[type='submit'] {
    background-color: black;
    font-size: 15px;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}



/* Manage Event Pagina */
#topFilterBar {
    padding-top: 100px;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: -10;
    border: 1px solid black;
    border-radius: 20px;
}

#deletePopup {
    background-color: white;
    font-size: 15px;
    opacity: 1.0;
    width: 50%;
    height: auto;
}

#deletePopup .popupTitle {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

#deletePopup .popupDescription {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#deletePopup button {
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

#deletePopup .yesButton {
    background-color: forestgreen;
    border: 2px solid green;
}

#deletePopup .noButton {
    background-color: red;
    border: 2px solid darkred;
}

#deletePopup .buttonBar {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#deletePopup .buttonBar li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}


/********************************/
/* MEDIA QUERYS VOOR RESPONSIVE */
/********************************/

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

/* Start mobile navigatie/view */
@media (max-width: 767px) {

    /* NAVBAR */
    .navbar-toggle {
      float: left;
      margin-left: 15px;
      border-color: #fff !important;
    }

    .navbar .navbar-nav > li {
      width: 100%;
      text-align: left;
    }
    .navbar .navbar-nav {
        width: auto;
    }

    /* HOMEPAGE */
    #carousel-home {
      display: none;
    }
    .body-content .container {
      margin-top: 0;
    }
    .section_home_1 .feature-block-image img {
      margin-top: 8px;
      width: 100%;
 
    }
    .feature-block-image {
      max-height: 160px;
      overflow: hidden;

    }
    .section_home_1 .feature-block-content p.button a {
      padding: 5px 20px;
      font-size: 15px;
    }

    .section_home_2::before {
      width: 300px;
    }
    
    .maincontent_img {
      margin-bottom: 10px;
    }

    /* EVENT REGULAR */
    .event-banner {
      display: none;
    }
    .sfeer-image {
      display: none;
    }
    .title-hr {
      display: none;
    }
    .event-header {
      width: 95%;
      height: 67px;
      background-position: center center;
    }
    .event-header .header_tekst {
      font-size: 19px;
    }
    .event-header .overlay {
      padding-top: 21px;
    }


    /* EVENT JAZZ */
    .jazz .keuze_blok img {
      width: 100%;
    }
}