/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #C1B4AE;
}

/* Buttons */
.btn:focus {
    color: #fff;
}
.btn-black {
    background: #353237;
    color: #fff;
    border-radius: 0px;
    transition: 300ms;
}

.btn-black:hover {
    color: #fff;
    background: #736e6e;
}

/* NAV BAR */
.navbar {
    background-color: #92140C;
}

.navbar .navbar-nav {
    width: 100%;
}

.navbar .navbar-nav > li {
    width: 14%;
    text-align: center;
}

.navbar .navbar-nav > li > a {
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-shadow: none;
    font-size: 15px;
}

.navbar .navbar-nav > li > a:hover {
    background-color: #BE7C4D;
}

.navbar .right {
    float: right;
}

/* FOOTER */
footer {
    margin-top: 20px;
}
footer .container {
    background-color: #fff;
    border: 1px solid #353237;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p.title {
    font-size: 25px
}

footer a {
    color: #353237;
}

footer a:hover {
    color: #666269;
    text-decoration: none;
}

.white {
    color: white;
}

/*****************/
/*** HOMEPAGE ****/
/*****************/

/* BANNER HOMEPAGE */
.banner {
    height: 300px;
    background-size: cover;
}
.banner1 {
    background-image: url('/images/Home/banner1.png');
}
.banner2 {
    background-image: url('/images/Home/banner1.png');
}
.carousel-control {
    background-image: none!important;
    opacity:1;
}
#carousel-home {
    border-bottom: 1px solid #353237;
}

/* SECTION 1 - FEATURE BLOCKS */
.section_home_1 {
    min-height: 350px;
}

.body-content .container {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: -55px;
    position: relative;
}

.section_home_1 .feature-block-image img {
    border: 2px solid #fff;
    margin-top: -30px;
}

.section_home_1 .feature-block-content p.title {
    font-size: 22px;
    font-weight: normal;
    font-family: Arial;
    margin-top: 4px;
    margin-bottom: 0;
}

.section_home_1 .feature-block-content p.button {
    margin-top: 15px
}
.section_home_1 .feature-block-content p.button a {
    background-color: #353238;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px;
    transition: 300ms;
}

.section_home_1 .feature-block-content p.button a:hover {
    background-color: #736e6e;
    color: #fff;
    text-decoration: none;
}

/* SECTION 2 - MAIN CONTENT */
.section_home_2::before {
    border-top:  1px solid #353237;
    padding-left: 10px;
    display:  block;
    content: '';
    width: 1168px;
    margin: 0 auto;
    margin-top: 25px
}

.section_home_2 h1 {
    font-size: 27px;
}

.section_home_2 p{
    font-size: 15px;
}
.maincontent_img {
    width: 100%;
    border: 1px solid;
    margin-top: 15px
}


/*************/
/** CONTACT **/
/*************/


/************/
/** AGENDA **/
/************/


/************/
/** BASKET **/
/************/



/*****************************/
/** EVENT PAGE STANDARD CSS **/
/*****************************/

/* Section 1 */
.event-banner {
    height: 300px;
    background-image: url('/images/regular_banner.png');
}

.event-section-1 {
    min-height: 140px;
    overflow-wrap:break-word;
}

.event h1.title {
    font-size: 33px;
}

.event p.content {
    font-size: 15px;
    line-height: 22px;
    overflow: hidden;
}

.event .sfeer-image {
    height: 150px;
    width: 150px;
    float: left;
    margin-top: -35px;
    margin-left: 24px;
}

.event .sfeer-image:first-child {
    margin-left: 62px;
}

.event .sfeer-image img {
    border: 1px solid #fff;
}

/* Section 2 */
.event-header {
    text-align: center;
    background-image: url('/images/Jazz/jazz_standard_header.png');
    width: 600px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
}

.title-hr {
    position: sticky;
    margin-bottom: auto;
    width: 22%;
    border-top: 1.4px solid #000;
    margin-left: 15px;
    margin-right: 15px;
}

.title-hr.title-line-left {
    margin-top: 35px;
    float: left;
}

.title-hr.title-line-right {
    margin-top: -35px;
    float: right;
}

.event-section-2 {
    margin-bottom: 20px;
    margin-top: 11px;
}

.event-header .header_tekst {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
}

.event-header .overlay {
    background: rgba(0,0,0,0.4);
    height: 100%;
    padding-top: 22px;
}


/*****************************/
/** EVENT PAGE SPECIFIC CSS **/
/*****************************/

/* ------------------------------Jazz@Patronaat--------------------------------*/
.jazz .event-section-3 {
    overflow: hidden;
}

.jazz .event-section-3 .keuze_blok img {
    border: 1px solid #353237;
}

.jazz .event-section-3 .keuze_blok h2 {
     font-size: 23px;
     margin-bottom: 5px;
 }

.jazz .event-section-3 p {
    font-size: 15px;
}

.jazz .event-section-3 p b:first-child {
    padding-left: 46px;
}

.jazz .event-section-3 p b:nth-child(3) {
    padding-left: 17px;
}


/* ------------------------------Dinner in Haarlem-----------------------------*/
.event-section-1-dinner {
    min-height: 210px;
    overflow-wrap: break-word;
}

.event-header.restaurantinfo {
    background-image: url('/images/Dinner/title/title1.png');
}

.event-banner.dinner {
    background-image: url('/images/Dinner/banner.png');
}

/* ------------------------------Talking Haarlem-------------------------------*/

/* Talking Home Page */

img.sfeer-image-resize { /*Exclusief want andere groepsleden gebruiken images van 150 pixels*/
    display: block;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.talk-image, .talk-activity-image { /*Image borders*/
    border: 1px solid #353237;
}

.event-banner.talking {
    background-image: url('/images/Talking/banner_talking_haarlem.jpg');
}

.event-header.talking-haarlem {
    background-image: url('/images/Talking/header_talking_haarlem.png');
}

.talking-info {
    width: 97%;
    display: inline-block;
    border-bottom: solid black 1px;
    margin-left: 15px;
}

.talking-info * {

}

.talking-place-time {
    width: 200px;
    float: left;
}

.talking-important-info {
    color: red;
    width: 200px;
    margin: auto;
}

.talks {
    margin: auto;
    width: 1100px;
    display: block;
}

.talk {
    float: left;
    width: 360px;
 }

.talk-header {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}

.talk-image-header {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

.talk-image {
    width: 320px;
    height: 200px;
    margin-left: 15px;
}
.talk p {
    margin-left: 15px;
    height: 40px;
}

.talk-info-btn {
    float: left;
    margin-left: 170px;
}

.talk-order-btn {
    float: right;
    margin-right: 30px;
}

.talk-back-btn {
    float: left;
}

.talk-date {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

/* Event (activity) info page */

.talk-activity-container {
    display: inline-block;
}

.talk-activity {
    margin-left: 15px;
    float: left;
    width: 800px;
}

.talk-activity-info-section {
    display: inline-block;
    width: 700px;
    height: 350px;
}

.talk-activity-properties {
    float: left;
    width: 150px;
    height: 200px;
    text-align: right;
    font-weight: bold;
}

.oneline {
    display: block;
}

.talk-activity-info {
    margin-left: 15px;
}

.talk-activity-btns {

}

.talk-images {
    float: left;
    margin-right: 15px;
}

.talk-activity-image {
    width: 320px;
    height: 200px;
}

/* ------------------------------Historic Haarlem------------------------------*/

.event-header.historicLocations {
    background-image: url('/images/Historic/title/locations.png');
}

.event-banner.historic {
    background-image: url('/images/Historic/banner.jpg');
}

.historic-content{
    padding: 15px;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align: center;
    font-size: 1.15em;
}

.tab-content {
    padding: 15px;
    display: inline-block;
    width: 100%;
}

.img-map-location {
    width: 60%;
    padding-left: 10px;
}

    .img-map-location img {
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
    }

.text-map-location {
    width: 40%;
    float: right;
    padding-left: 20px;
}

    .text-map-location h3 {
        margin-top: 15px;
    }

.map-img {
    display: inline-block;
    width: 100%;
}

.map-img img {
    width: 100%;
}

.img-map-location .number-map {
    position: absolute;
    display: inline-block;
    width: 4%;
    height: 5%;
}

.number-map.number1 {
    bottom: 280px;
    left: 308px;
}

.number-map.number2 {
    bottom: 280px;
    left: 232px;
}

.number-map.number3 {
    bottom: 325px;
    left: 259px;
}

.number-map.number4 {
    bottom: 32px;
    left: 80px;
}

.number-map.number5 {
    bottom: 300px;
    left: 40px;
}

.number-map.number6 {
    bottom: 483px;
    left: 335px;
}

.number-map.number7 {
    bottom: 455px;
    left: 560px;
}

.number-map.number8 {
    bottom: 245px;
    left: 645px;
}

.number-map.number9 {
    bottom: 325px;
    left: 392px;
}

.locations {
    display: none;
}

#location1{
    display: block;
}

/*----- Historic tickets -----*/

.event-header.historicTickets {
    background-image: url('/images/Historic/title/ticket2.png');
}

.historic-tickets p {
    text-align: center;
}

.ticket-table {
}

.ticket-table table {
    margin-left: auto;
    margin-right: auto;
}

.ticket-table table tr th {
    background-color: #8bd47a;
    font-size: 1.12em;
    color: #fff;
    padding-right: 35px;
    padding-left: 10px;
}

.ticket-table table tr td {
    padding-right: 40px;
    padding-left: 10px;
}

tr:nth-child(even) {
    background-color: #eee;
}

/*****************************/
/** ADMIN PAGE SPECIFIC CSS **/
/*****************************/
/* Login Pagina */
#loginArea .title {
    text-align: center;
    font-size: 30px;
}

#loginError {
    max-width: 400px;
    text-align: center;
    opacity: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#loginArea .username, #loginArea .password {
    height: 50px;
    font-size: 20px;
    border: 1px solid silver;
}
    
input[type='text']:focus, input[type='password']:focus {
    color: black;
}

#loginArea input[type='submit'] {
    background-color: #353238;
    font-size: 15px;
    color: white;
    width: 140px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#loginArea .input-group-addon {
    background-color: #92140C;
    border-radius: 15px 0px 0px 15px;
    color: white;
}


/* Overview Pagina */
#welcomeArea {
    margin-top: 100px;
    font-size: 15px;
    text-align: center;
    padding: 0px;
}

.overviewContent {
    margin-top: 10px;
    margin-bottom: 10px;
}

#manageEventSelection button {
    margin-top: 10px;
}

#manageEventSelection button {
    width: 150px;
}

.introText {
    width: 95%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Manage Event Pagina */
#topFilterBar {
    padding-top: 100px;
    display: inline-block;
}

#selectEvent {
    width: auto;
}

#topFilterBar select {
    width: 200px;
    height: 25px;
    border: 1px solid #000000;
    border-style: none none solid none;
    outline: none;
    position: relative;
    height: 100%;
}

#topFilterBar select option {
    height: 25px;
}

#filterSystem .eventFilter:focus {
    border-color: #6495ed;
}

#filterSystem .eventFilter option {
    border: 2px solid black;
    border-style: none solid none solid;
    height: 30px;
    color: #000000;
}

#filterSystem .eventFilter option:last-child {
    border-style: none solid solid solid;
}

.eventData tr td ,.eventTable thead th {
    text-align: center !important;
}

.eventData tr td i.glyphicon-remove, .eventData tr td i.glyphicon-pencil {
    cursor: pointer;
}

/********************************/
/* MEDIA QUERYS VOOR RESPONSIVE */
/********************************/
@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

/* Start mobile navigatie/view */
@media (max-width: 767px) {

    /* NAVBAR */
    .navbar-toggle {
      float: left;
      margin-left: 15px;
      border-color: #fff !important;
    }

    .navbar .navbar-nav > li {
      width: 100%;
      text-align: left;
    }
    .navbar .navbar-nav {
        width: auto;
    }

    /* HOMEPAGE */
    #carousel-home {
      display: none;
    }
    .body-content .container {
      margin-top: 0;
    }
    .section_home_1 .feature-block-image img {
      margin-top: 8px;
      width: 100%;
 
    }
    .feature-block-image {
      max-height: 160px;
      overflow: hidden;

    }
    .section_home_1 .feature-block-content p.button a {
      padding: 5px 20px;
      font-size: 15px;
    }

    .section_home_2::before {
      width: 300px;
    }
    
    .maincontent_img {
      margin-bottom: 10px;
    }

    /* EVENT REGULAR */
    .event-banner {
      display: none;
    }
    .sfeer-image {
      display: none;
    }
    .title-hr {
      display: none;
    }
    .event-header {
      width: 95%;
      height: 67px;
      background-position: center center;
    }
    .event-header .header_tekst {
      font-size: 19px;
    }
    .event-header .overlay {
      padding-top: 21px;
    }


    /* EVENT JAZZ */
    .jazz .keuze_blok img {
      width: 100%;
    }
}