@using HaarlemFestival.Models;
@using System.Collections.Generic;
@using System.Globalization;
@using System;
@using System.Linq;
@model Reservering

@{
    ViewBag.Title = "Reservation";
}

<div class="event-banner"></div>

<div class="event container">
    <div class="row">
        <div class="event-section-3">
            <div class="col-md-12 completed">
                <h3>Thank you for booking!</h3>
                <p>A confirmation email has been send to your e-mail address.</p>
                <p>If you have any questions, you can contact us on our contact page.</p>

                <button class="btn btn-black back" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Return to home</button>
                <button class="btn btn-black back" type="button" onclick="location.href='@Url.Action("Agenda", "Home")'">View your Agenda</button>
            </div>
        </div>
    </div>
</div>
