@{
    ViewBag.Title = "Historic Haarlem";
}

<script type="text/javascript">
    function switchMap() {
        var map = document.getElementById("map-content");
        var location = document.getElementById("location-content");

        var activeButton = document.getElementById("map-button");
        var passiveButton = document.getElementById("location-button");

        map.style.display = "block";
        location.style.display = "none";

        activeButton.style.backgroundColor = "#4CAF50";
        passiveButton.style.backgroundColor = "#d1d1d1";
    }

    function switchLocation() {
        var location = document.getElementById("location-content");
        var map = document.getElementById("map-content");

        var activeButton = document.getElementById("location-button");
        var passiveButton = document.getElementById("map-button");

        location.style.display = "block";
        map.style.display = "none";

        activeButton.style.backgroundColor = "#4CAF50";
        passiveButton.style.backgroundColor = "#d1d1d1";
    }
</script>

<div class="event-banner historic"></div>

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Historic Haarlem</h1>
                <p class="content">
                    Welcome on the Historic Haarlem page, here you will find information about the historic tour through Haarlem. Here you will find information about: the locations, the available days and the available languages.
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer1.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer2.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer3.jpg" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header historicLocations">
                <div class="overlay">
                    <span class="header_tekst">Locations</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <!-- Content -->
        <div class="toggle">
            <button class="toggle" id="location-button" onclick="switchLocation();">Location</button>
            <button class="toggle" id="map-button" onclick="switchMap();">Map</button>
        </div>

        <div class="historic-content" id="location-content">
            <p>location</p>
        </div>

        <div class="historic-content" id="map-content">
            <p>Map</p>
        </div>

    </div>
</div>

