@{
    ViewBag.Title = "Historic Haarlem";
}

<script type="text/javascript">
    function SwitchLocation(nummer)
    {
        var element = document.getElementById("location" + nummer);
        var otherElements = document.getElementsByClassName("locations");

        for (var i = 0; i < otherElements.length; i++)
        {
            otherElements[i].style.display = "none";
        }

        element.style.display = "block";
    }
</script>

<div class="event-banner historic"></div>

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Historic Haarlem</h1>
                <p class="content">
                    Welcome on the Historic Haarlem page, here you will find information about the historic tour through Haarlem. Here you will find information about: the locations, the available days and the available languages.
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer1.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer2.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer3.jpg" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header historicLocations">
                <div class="overlay">
                    <span class="header_tekst">Locations</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <!-- Content -->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#location-content">Locations</a></li>
            <li><a data-toggle="tab" href="#map-content">Map</a></li>
        </ul>

        <div class="tab-content">
            <div id="location-content" class="tab-pane fade in active">
                <div class="img-map-location">
                    <img src="/images/Historic/Locaties/moodboard.jpg" />
                </div>
                <div class="text-map-location">
                    <p>
                        In this tour you will walk through the history of Haarlem.
                        You will visit the most important historic locations of the city, 
                        the guide will explain what the importance of the location is for the city.
                    </p>
                    </br>
                    <h3>About the tour</h3>
                    <p>
                        There are multiple tours per day, on the booking page you can pick preferred date and time.
                        The tour will take approximately 2,5 hours. During the tour there will be a 15 minute break with refreshments (one drink per person).
                        The tour will start at the 'Grote Markt', near the 'Church of St. Bavo'. The start location will be marked with a giant flag ‘Historic Haarlem, walking the ages’.
                    </p>
                    </br>
                    <h3>Venues to visit are:</h3>
                    <ul>
                        <li>1. Church of St. Bavo</li>
                        <li>2. Grote Markt</li>
                        <li>3. De Hallen</li>
                        <li>4. Proveniershof</li>
                        <li>5. Jopenkerk (Break location)</li>
                        <li>6. Waalse Kerk Haarlem</li>
                        <li>7. Molen de Adriaan</li>
                        <li>8. Amsterdamse Poort</li>
                        <li>9. Hof van Bakenes</li>
                    </ul>
                </div>
            </div>

            <div id="map-content" class="tab-pane fade">
                <div class="img-map-location">
                    <img src="/images/Historic/Map/mapr.png" />
                    <img class="number-map number1" src="/images/Historic/Map/1.png" onclick="SwitchLocation('1');"/>
                    <img class="number-map number2" src="/images/Historic/Map/2.png" onclick="SwitchLocation('2');"/>
                    <img class="number-map number3" src="/images/Historic/Map/3.png" onclick="SwitchLocation('3');"/>
                    <img class="number-map number4" src="/images/Historic/Map/4.png" onclick="SwitchLocation('4');"/>
                    <img class="number-map number5" src="/images/Historic/Map/5.png" onclick="SwitchLocation('5');"/>
                    <img class="number-map number6" src="/images/Historic/Map/6.png" onclick="SwitchLocation('6');"/>
                    <img class="number-map number7" src="/images/Historic/Map/7.png" onclick="SwitchLocation('7');"/>
                    <img class="number-map number8" src="/images/Historic/Map/8.png" onclick="SwitchLocation('8');"/>
                    <img class="number-map number9" src="/images/Historic/Map/9.png" onclick="SwitchLocation('9');"/>
                </div>

                <div class="text-map-location locations" id="location1">
                    <div class="map-img">
                        <img src="/images/Historic/Locaties/1.jpg" />
                    </div>
                    <h3>Church of St. Bavo</h3>
                    <p>
                        The Grote Kerk or St.-Bavokerk is a Protestant church and former Catholic cathedral located on the central market square in the Dutch city of Haarlem. 
                        Another Haarlem church called the Cathedral of Saint Bavo now serves as the main cathedral for the Roman Catholic Diocese of Haarlem-Amsterdam.
                    </p>
                </div>

                <div class="text-map-location locations" id="location2">
                    <div class="map-img">
                        <img src="/images/Historic/Locaties/2.jpg" />
                    </div>
                    <h3>De Grote Markt</h3>
                    <p>
                        The Grote Markt is in the center of Haarlem, with the City Hall across from the St. Bavochurch.
                    </p>
                </div>

                <button>Book the tour</button>

            </div>
        </div>
    </div>
</div>

