@using HaarlemFestival.Models;
@using System.Collections.Generic;
@model List<Historic>

@{
    ViewBag.Title = "Historic Haarlem - Reservation";
}

<div class="event-banner historic"></div>

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Historic Haarlem - book a ticket</h1>
                <p class="content">
                    On this page you can make a reservation for a Historic Haarlem Tour. Pick a day and a time, and select the amount of ticktets you would like.
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/map1.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/map2.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/map3.jpg" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header historicTickets">
                <div class="overlay">
                    <span class="header_tekst">Get your tickets</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <!-- Content -->

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#day1">On thursday</a></li>
            <li><a data-toggle="tab" href="#day2">On friday</a></li>
            <li><a data-toggle="tab" href="#day3">On saturday</a></li>
        </ul>

        <div class="tab-content">
            <div id="day1" class="tab-pane fade in active historic-tickets">
                <div class="table table-hover table-responsive ticket-table">
                    <table>
                        <tr>
                            <th>Tickets</th>
                            <th>Group ticket</th>
                            <th>Language</th>
                            <th>Time</th>
                            <th>Total price</th>
                        </tr>
                        @foreach (Historic tour in Model)
                        {
                            if (tour.StartSession.Date == new DateTime(2018, 7, 26))
                            {
                                <tr>
                                    <td></td>
                                    <td></td> @*<td>@Html.TextBoxFor(m => m)</td>*@
                                    <td>@tour.Language.LanguageName</td>
                                    <td>@tour.StartSession.TimeOfDay</td>
                                    <td></td>
                                </tr>
                            }

                        }
                    </table>

                    <br/>
                    <p>These are the available tours on thursday (26-07-2018)</p>
                </div>

                <div class="historic extra-info">
                    <h3>Ticket information</h3>
                    <p>The group will consist of 12 participants and one guide. Participants must at least be 12 years old and must be able to walk the entire route (no strollers are allowed).</p>
                    </br>
                    <h4>Ticket price</h4>
                    <p>€ 17,50 per ticket per person</p>
                    </br>
                    <h4>Group ticket:</h4>
                    <p>A group ticket gets you 4 tickets for only € 60,- instead of € 70,-</p>
                </div>
            </div>

            <div id="day2" class="tab-pane fade historic-tickets">
                <!-- Rest -->
            </div>

            <div id="day3" class="tab-pane fade historic-tickets">
                <!-- Rest -->
            </div>
        </div>

            </div>
        </div>

