@{
    ViewBag.Title = "Talking Haarlem";
}
<section>
    <h2>Talking Haarlem</h2>
    <p class="">
        Do you want to learn even more about Haarlem?
        Talking Haarlem will present to you six Dutch people
        who talk about their experience in Haarlem
        and how that influenced their carreer and life.
    </p>
</section>
<section>
    <h3>General information</h3>
    <p class="TalkingPlaceTime">
        Place & Time
        Toneelschuur & Filmschuur
        Lange Begijnestraat 9
        2011 HH Haarlem
        20:00 - 22:00
    </p>
    <p class="TalkingImportantInfo">
        These interviews will be held in the Dutch language.
        Reservation is mandatory.
        Price: Free
    </p>
</section>
<section>
    <section class="Talk">
        <h3>Giel Beelen meets Rob Trip</h3>
        <section class="feature-block-image">
            <img src="/images/Talking/Giel_Beelen2.jpg" />
        </section>
        <p>
            Famous DJ Giel meets TV host Rob.
        </p>
    </section>
    <section class="Talk">
        <h3>Femke Halsema meets Job Cohen</h3>
        <section class="feature-block-image">
            <img src="/images/Talking/Femke_Halsema2.jpg" />
        </section>
        <p>
            Two ex-politics question each other about their career and experiences in Haarlem.
        </p>
    </section>
    <section class="Talk">
        <h3>Paul Witteman meets Brigitte Kaandorp</h3>
        <section class="feature-block-image">
            <img src="/images/Talking/Giel_Beelen2.jpg" />
        </section>
        <p>
            TV host Paul meets journalist Brigitte.
        </p>
    </section>
</section>

