
@{
    ViewBag.Title = "Info";
}
<section class="event-banner talking"></section>

<main class="event container talking">
    <section class="row">
        <!-- Section 1 -->
        <section class="event-section-2">
            <hr class="title-hr title-line-left">
            <section class="event-header talking-haarlem">
                <section class="overlay">
                    <span class="header_tekst">Talks & Information</span>
                </section>
            </section>
            <hr class="title-hr title-line-right">
        </section>

        <!-- Section 2 -->
        <section>
            <section>

            </section>
            <section>
                
            </section>
        </section>
    </section>
</main>
