
@{
    ViewBag.Title = "Info";
}
<section class="event-banner talking"></section>

<main class="event container talking">
    <section class="row">
        <!-- Section 1 -->
        <section class="event-section-2">
            <hr class="title-hr title-line-left">
            <section class="event-header talking-haarlem">
                <section class="overlay">
                    <span class="header_tekst">Talks & Information</span>
                </section>
            </section>
            <hr class="title-hr title-line-right">
        </section>

        <!-- Section 2 -->
        <section>
            <section>
                <h1>Giel Beelen meets Rob Trip</h1>
                <p>
                    Place:
                    Time:
                    Date:
                    Interview language:
                    Reservation:
                    Price:
                    Description:
                </p>
                <p>
                    Toneelschuur & Filmschuur, Lange Begijnestraat 9, 2011 HH Haarlem
                    20:00 - 22:00
                    Thursday July 26th, 2018
                    Dutch
                    Mandatory
                    Free
                    Have you ever wanted to question a famous DJ or a TV host?
                    Giel Beelen (40) a famous DJ for 3FM and Rob Trip (57); another famous person will question each other, LIVE at the Toneelschuur in Haarlem.
                </p>
            </section>
            <section>
                
            </section>
        </section>
    </section>
</main>
