@using HaarlemFestival.Models;
@using System.Collections.Generic;
@model List<Talking>

@{
    ViewBag.Title = "Talking Haarlem - Reservation";
}

<script type="text/javascript">
    function UpdateQuestions()
    {
        var ticketAmounts = document.getElementsByClassName("talk-ticket-amount");
        var questions = document.getElementsByClassName("talk-question");

        for (var i = 0; i < ticketAmounts.length; i++)
        {
            if (ticketAmounts[i].value > 0)
                questions[i].style.display = "block";
            else
                questions[i].style.display = "none";
        }
    }
</script>

<h2>Reservation</h2>

<section class="event-banner talking"></section>

<main class="event container talking">
    <section class="row">
        <!-- Section 1 -->
        <section class="talk-reservation-container">
            <section>
                <h1>
                    Order your amount of tickets <span class="talk-bold">(max 2 tickets per talk)</span>
                </h1>
            </section>

            <section>
                <table class="talking-reservation-table">
                    <tr>
                        <th>Ticket Amount</th>
                        <th>Talk</th>
                        <th>Price</th>
                        <th>Date & Time (DD-MM-YYYY)</th>
                        <th>Location</th>
                    </tr>
                    @foreach (Talking talk in Model)
                    {
                    <tr>
                        <td><input onchange="UpdateQuestions()" id="ticket-amount@(talk.TalkId)" class="talk-ticket-amount" min="0" max="2" type="number" /></td>
                        <td>@talk.Talk.Naam</td>
                        <td>Free</td>
                        <td>Thursday 26-07-2018 | 20:00 - 22:00</td>
                        <td>Toneelschuur</td>
                    </tr>
                    }
                </table>
            </section> <!-- Table -->

            <section class="">
                <p>
                    Fill in an optional question (Dutch or English) below for one of the interviewees and it might
                    be used for the interview <span class="talk-bold">(only if you ordered one or two tickets for that specific talk)</span>
                </p>
             </section> <!-- Question info-->
             @foreach(Talking talk in Model)
             { }
             <section class="talk-questions">
                <section class="talk-question" id="question1">
                     <p>Giel Beelen meets Rob Trip</p>
                     <section class="talk-question-receiver">
                         <p>Question For: </p>
                         <select>
                             <option>Nobody</option>
                             <option>Giel Beelen</option>
                             <option>Rob Trip</option>
                         </select>
                      </section>
                      <textarea class="talk-questionbox"></textarea>
                 </section>
                 <section class="talk-question" id="question2">
                     <p>Femke Halsema meets Job Cohen</p>
                     <section class="talk-question-receiver">
                         <p>Question For: </p>
                         <select>
                             <option>Nobody</option>
                             <option>Femke Halsema</option>
                             <option>Job Cohen</option>
                         </select>
                     </section>
                     <textarea class="talk-questionbox"></textarea>
                 </section>
                 <section class="talk-question" id="question3">
                     <p>Paul Witteman meets Brigitte Kaandorp</p>
                     <section class="talk-question-receiver">
                         <p>Question For: </p>
                         <select>
                             <option>Nobody</option>
                             <option>Paul Witteman</option>
                             <option>Brigitte Kaandorp</option>
                         </select>
                      </section>
                      <textarea class="talk-questionbox"></textarea>
                  </section>
            </section> <!-- Questions -->
            <section>
                @Html.ActionLink("Back to Talking Haarlem", "Index", "Talking", new { @class = "btn btn-black talk-back-btn" })
                
                @Html.ActionLink("Add to basket", "Reservation", "Talking", new { @class = "btn btn-black talk-order-btn" })
            </section> <!-- Buttons -->
        </section> <!-- Section 1 Reservation Container -->
    </section> <!-- row -->
</main>